.header{
    height: 100px;
    background: #EEE;
}
.sidebar{
    float: left;
    width: 20%;
}
.container:after{
    content:'';
    display: block;
    clear: both;
}
.footer{
    height: 50px;
    background: #EEE;
}
