body{
    background-color: #DDD;
}
.img1{
    background-image: url(./Image/pattern.jpeg);
    background-size:10%;
    height: 100px;
}
.img2{
    background-image: url(./Image/night.jpeg);
    height: 200px;
    background-size: cover;
    background-position: -100px ;
}
.img3{
    background-image: url(./Image/night.jpeg);
    height: 200px;
    margin-right:90px;
    background-size: cover;
    background-position: -100px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.font{
    margin-bottom: 5px;
    border: 2px solid;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 10px;
}
