.album-item{
    height: 200px;
    width: 200px;
    background-image: url("https://loremflickr.com/320/240");
    background-position: center;
    background-size: cover;
}
.overlay{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0;
    transition: all 0.5s;
}
i{
    font-size: 60px;
    transform: scale(0.8);
    transition: all 0.5s;
}
.album-item:hover .overlay{
    opacity: 1;
}
.album-item:hover .overlay i{
    transform: scale(1);
}
